<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div style="width: 100%; padding: 1rem; overflow-x: hidden; overflow-y: auto; max-height: 100vh; background-color: #f3f4f6;">
    <div style="position: relative; width: 100%; max-width: 28rem; max-height: 100vh;">
      <div style="position: relative; background-color: #fff; border-radius: 0.375rem; box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);">
        <div style="padding: 1.5rem 1rem;">
          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <% for (let i = 0; i < fields.elements.length; i++) { %>
              <% if (fields.elements[i].typeElementName === "Title") { %>
                <h3 style="margin-bottom: 1rem; font-size: <%= fields.elements[i].fontSize %>px; font-weight: <%= fields.elements[i].bold ? 'bold' : 'normal' %>; text-decoration: <%= fields.elements[i].underline ? 'underline' : 'none' %>; color: <%= fields.elements[i].fontColor %>;">
                  <%= fields.elements[i].label %>
                </h3>
              <% } %>
            <% } %>
            <% for (let i = 0; i < fields.elements.length; i++) { %>
              <% if (fields.elements[i].typeElementName === "Subtitle") { %>
                <h2 style="margin-bottom: 1rem; font-size: <%= fields.elements[i].fontSize %> px; font-weight: <%= fields.elements[i].bold ? 'bold' : 'normal' %>; text-decoration: <%= fields.elements[i].underline ? 'underline' : 'none' %>; color: <%= fields.elements[i].fontColor %>;">
                  <%= fields.elements[i].label %>
                </h2>
              <% } %>
            <% } %>
          </div>
          <form style="margin-top: 1.5rem;" action="#">
            <% for (let i = 0; i < fields.elements.length; i++) { %>
              <% if (fields.elements[i].typeElementName === "FirstNameInput" && fields.elements[i].showInput) { %>
                <input type="text" id="password" style="background-color: #f9fafb; border: 1px solid #e5e7eb; font-size: 0.875rem; border-radius: 0.375rem; padding: 0.625rem; outline: 2px solid #3b82f6; display: block; width: 100%; color: #111827;" placeholder="<%- fields.elements[i].label + (fields.elements[i].isRequired ? '*' : '') %>" required>
              <% } %>
            <% } %>
            <% for (let i = 0; i < fields.elements.length; i++) { %>
              <% if (fields.elements[i].typeElementName === "LastNameInput" && fields.elements[i].showInput) { %>
                <input type="password" name="password" id="password" style="background-color: #f9fafb; border: 1px solid #e5e7eb; font-size: 0.875rem; border-radius: 0.375rem; padding: 0.625rem; outline: 2px solid #3b82f6; display: block; width: 100%; color: #111827;" placeholder="<%- fields.elements[i].label + (fields.elements[i].isRequired ? '*' : '') %>" required>
              <% } %>
            <% } %>
            <% for (let i = 0; i < fields.elements.length; i++) { %>
              <% if (fields.elements[i].typeElementName === "EmailInput" && fields.elements[i].showInput) { %>
                <input type="email" name="email" id="email" style="border: 1px solid #e5e7eb; font-size: 0.875rem; border-radius: 0.375rem; padding: 0.625rem; outline: 2px solid #3b82f6; display: block; width: 100%; color: #111827;" placeholder="<%- fields.elements[i].label + '*' %>" required>
              <% } %>
            <% } %>

            <% for (let i = 0; i < fields.elements.length; i++) { %>
              <% if (fields.elements[i].typeElementName === "Checkbox" && fields.elements[i].showInput) { %>
             <div>
              <input type="checkbox" required="<%= fields.elements[i].isRequired %>  " />
            <p><%= fields.elements[i].label %></p> 
            </div>
                <% } %>
            <% } %>
            <% for (let i = 0; i < fields.elements.length; i++) { %>
              <% if (fields.elements[i].typeElementName === "RadioButton" && fields.elements[i].showInput) { %>
             <div>
              <input type="radio"/>
            <p><%= fields.elements[i].label %></p> 
            </div>
                <% } %>
            <% } %>
            <% for (let i = 0; i < fields.elements.length; i++) { %>
              <% if (fields.elements[i].typeElementName === "Dropdown" && fields.elements[i].showInput) { %>
                <div>
                  <select>
                    <% for (let j = 0; j < fields.elements[i].dropdownOptions.length; j++) { %>
                      <% if (fields.elements[i].dropdownOptions[j].show) { %>
                        <option value="<%= fields.elements[i].dropdownOptions[j].label %>"><%= fields.elements[i].dropdownOptions[j].label %></option>
                      <% } %>
                    <% } %>
                  </select>
                </div>
              <% } %>
            <% } %>
            <div style="display: flex; justify-content: center; align-items: center;">
              <% for (let i = 0; i < fields.elements.length; i++) { %>
                <% if (fields.elements[i].typeElementName === "Button") { %>
                  <button type="submit" style="margin-bottom: 1.25rem; font-size: <%= fields.elements[i].fontSize %>px; font-weight: <%= fields.elements[i].bold ? 'bold' : 'normal' %>; text-decoration: <%= fields.elements[i].underline ? 'underline' : 'none' %>; color: <%= fields.elements[i].fontColor %>; background-color: <%= fields.elements[i].backgroundColor %>; border-radius: <%= fields.elements[i].borderRadius %> "> <%= fields.elements[i].label %> </button>
                <% } %>
              <% } %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>